# https://github.com/NVlabs/FoundationStereo/issues/20#issuecomment-2715046759
# Here we assume pytorch==2.4.1 torchvision==0.19.1 torchaudio==2.4.1 is already installed with proper CUDA support
accelerate
scikit-image
omegaconf
opencv-contrib-python
imgaug
ninja
timm
albumentations
jupyterlab
scipy
joblib
scikit-learn
ruamel.yaml
trimesh
pyyaml
imageio
open3d
transformations
einops
gdown
flash-attn
nodejs
xformers==0.0.28.post1
huggingface-hub
mlflow
dinov2
wandb
openexr
accelerate
json5
opencv-python
click
mlflow
trimesh
imageio
open3d
matplotlib
transformations

einops
gradio
h5py
huggingface-hub
imageio
matplotlib
numpy
pandas
pillow
protobuf
scipy
tables
tabulate
termcolor
timm
tqdm
trimesh
triton
wandb
geffnet
modelscope
modelscope[nlp]
transformers
